{% extends 'template.html' %}
{% load static %}
{% block nav %}
{% include 'nav_empreendedor.html' %}
{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/carousel.css' %}">
{% endblock %}
{% block main %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Vitrine Virtual</h1>
        </div>
    <div class="row">
      <div class="col">
        {% if messages %}
          {% for message in messages %}
            <div class="alert {{ message.tags }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="text-center">Você gostaria de expor seus produtos na Vitrine Virtual?</p>
            <form method="post" class="text-center">
              {% csrf_token %}
              <button type="submit" class="mt-4 btn btn-success">Cadastrar-se na Vitrine Virtual</button>
            </form>
          </div>
    </div>
    </div>
</div>
<div class="row mx-auto px-5">
  <script>
    document.getElementById('empreendedor_empresa').classList.add('s-nav-active');
  </script>
</div>

<style>
  .border{
    border-color: rgba(146, 146, 146, 0.2) !important;
  }
</style>

</script>

{% endblock %}
{% block footer %}
{% include 'desenvolve_nf/instagram.html' %}
{% endblock %}