{% extends 'template.html' %}
{% load static %}
{% load bootstrap5 %}
{% block nav %}
{% include 'nav_empreendedor.html' %}
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/sala_empreendedor_pages.css' %}">
{% endblock %}
{% block main %}
<!-- Hero Section -->
<section class="service-hero">
  <div class="container pt-4">
    <div class="hero-content-service" data-aos="fade-up">
      <div class="row" data-aos="fade-up">
        <div class="col">
          <a href="{% url 'empreendedor:index' %}" class="back-button">
            <i class="fas fa-arrow-left"></i>
            Voltar
          </a>
        </div>
      </div>
      <h1 class="section-title-service">Novas Oportunidades</h1>
      <p class="lead">Rodadas de crédito com instituições bancárias</p>
    </div>
  </div>
</section>

<div class="container pb-5">
  <div class="row" data-aos="fade-up">
    <div class="col-lg-8 mx-auto">
      <div class="service-card">
        <div class="card-body">
          <h5 class="card-title">Participe das Rodadas de Crédito com Instituições Bancárias!</h5>
          <p class="card-text">        
            Garanta seu lugar agora uma das datas de sua preferência para participar da rodada de credito com a presença das instituições bancarias! <strong>Vagas limitadas!</strong>
          </p>
          <div class="row g-3 mt-3">
            <div class="col-md-6">
              <a href="https://forms.office.com/r/szbRw4mc5L" class="btn-service w-100">
                18/03 (seg) - a partir das 9h
              </a>
            </div>
            <div class="col-md-6">
              <a onclick="alertar()" class="btn-service w-100">
                25/03 (seg) - a partir das 14h
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
        </div>
    </div>
    <p class="mt-3">As rodadas serão realizadas no SEBRAE. Localizado em: Espaço Arp. Endereço: Av. Conselheiro Július Arp, 80 - bloco 2 - Centro, Nova Friburgo - RJ, 28623-000.</p>

    </div>
  </div>
</div>
<script>
    
    function alertar(){
        alert('Essa data ainda não está confirmada!')
    }
</script>

{% endblock %}
{% block footer %}
{% include 'desenvolve_nf/instagram.html' %}
{% endblock %}x