<div class="row">
    <div class="col d-flex pe-4">
      <h2 class="ms-3 pt-0 pb-4">SERVIÇOS</h2>
    </div>
  </div>
  <div class="row mx-auto">
    <div class="d-flex flex-wrap justify-content-center">
      <div class="item border border d-flex flex-column mx-2 div_cursos">
        <a href="{% url 'empreendedor:conheca_nossa_sala' %}">
          <div class="c-img" style="position: relative;">
            <img class="banner-img" src="/static/images/icons_servicos/conheca.jpeg" >
          </div>
        </a> 
      </div>
      <div class="item border border d-flex flex-column mx-2 div_cursos">
        <a target="_blank" href="https://servicoonline.novafriburgo.rj.gov.br/services/site_login.php">
          <div class="c-img" style="position: relative;">
            <img class="banner-img" src="/static/images/icons_servicos/debitos-e-taxas.jpeg" >
          </div>
        </a> 
      </div>
      <div class="item border border d-flex flex-column mx-2 div_cursos">
        <a href="{% url 'empreendedor:compras_publicas' %}">
          <div class="c-img" style="position: relative;">
            <img class="banner-img" src="/static/images/icons_servicos/cadastro-fornecedor.jpeg" >
          </div>
        </a> 
      </div>
      <div class="item border border d-flex flex-column mx-2 div_cursos">
        <a href="https://api.whatsapp.com/send?phone=552225259151" target="_blank">
          <div class="c-img" style="position: relative;">
            <img class="banner-img" src="/static/images/icons_servicos/fale-conosco.jpeg" >
          </div>
        </a> 
      </div>
    </div>
  </div>
  <div class="row mx-auto">
    <div class="d-flex flex-wrap justify-content-center">
      
      <div class="item border border d-flex flex-column mx-2 div_cursos">
        <a href="{% url 'empreendedor:quero_ser_mei' %}">
          <div class="c-img" style="position: relative;">
            <img class="banner-img" src="/static/images/icons_servicos/quero-ser-mei.jpeg" >
          </div>
        </a> 
      </div>
      <div class="item border border d-flex flex-column mx-2 div_cursos">
        <a href="{% url 'empreendedor:ja_sou_mei' %}">
          <div class="c-img" style="position: relative;">
            <img class="banner-img" src="/static/images/icons_servicos/ja-sou-mei.jpeg" >
          </div>
        </a> 
      </div>
      <div class="item d-flex flex-column mx-2 div_cursos">
        <a href="{% url 'empreendedor:abertura_de_empresa' %}">
          <div class="c-img" style="position: relative;">
            <img class="banner-img" src="/static/images/icons_servicos/abertura-de-empresa.jpeg" >
          </div>
        </a> 
      </div>
      <div class="item border border d-flex flex-column mx-2 div_cursos">
        <a href="{% url 'cursos_profissionais:index' %}">
          <div class="c-img" style="position: relative;">
            <img class="banner-img" src="/static/images/icons_servicos/capacitacao.jpeg" >
          </div>
        </a> 
      </div>
      <div class="item border border d-flex flex-column mx-2 div_cursos">
        <a target="_blank" href="https://servicoonline.novafriburgo.rj.gov.br/services/certidao_retirada.php">
          <div class="c-img" style="position: relative;">
            <img class="banner-img" src="/static/images/icons_servicos/certidoes.jpeg" >
          </div>
        </a> 
      </div>
      <div class="item border d-flex flex-column mx-2 div_cursos">
        <a href="{% url 'empreendedor:iss_autonomos' %}">
          <div class="c-img" style="position: relative;">
            <img class="banner-img" src="/static/images/icons_servicos/iss-autonomos.jpeg" >
          </div>
        </a> 
      </div>
      <div class="item border d-flex flex-column mx-2 div_cursos">
        <a target="_blank" href="https://rj-novafriburgo-pm-nfs.cloud.el.com.br//paginas/sistema/login.jsf">
          <div class="c-img" style="position: relative;">
            <img class="banner-img" src="/static/images/icons_servicos/nota-fiscal.jpeg" >
          </div>
        </a> 
      </div>
      <div class="item border d-flex flex-column mx-2 div_cursos">
        <a target="_blank" href="https://www.jucerja.rj.gov.br/">
          <div class="c-img" style="position: relative;">
            <img class="banner-img" src="/static/images/icons_servicos/junta-comercial.jpeg" >
          </div>
        </a> 
      </div>
    </div>
  </div>
  <div class="row mx-auto pb-5">
    <div class="d-flex flex-wrap justify-content-center">
      <div class="item border border d-flex flex-column mx-2 div_cursos">
        <a href="{% url 'empreendedor:solicitacao_linha_de_credito' %}">
          <div class="c-img" style="position: relative;">
            <img class="banner-img" src="/static/images/icons_servicos/linha-credito.jpeg" >
          </div>
        </a> 
      </div>
      <div class="item border border d-flex flex-column mx-2 div_cursos">
        <a href="{% url 'empreendedor:oportunidade' %}">
          <div class="c-img" style="position: relative;">
            <img class="banner-img" src="/static/images/icons_servicos/oportunidades.jpeg" >
          </div>
        </a> 
      </div>
      <div class="item border border d-flex flex-column mx-2 div_cursos">
        <a href="https://gpi18.cloud.el.com.br/ServerExec/acessoBase/?idPortal=008D9DCE8EF2707B45F47C2AD10B38E2">
          <div class="c-img" style="position: relative;">
            <img class="banner-img" src="/static/images/icons_servicos/consulta-processo.jpeg" >
          </div>
        </a> 
      </div>
      <div class="item border border d-flex flex-column mx-2 div_cursos">
        <a href="https://servicoonline.novafriburgo.rj.gov.br/services/site_login.php">
          <div class="c-img" style="position: relative;">
            <img class="banner-img" src="/static/images/icons_servicos/consulta-dividas.jpeg" >
          </div>
        </a> 
      </div>
    </div>
  </div>