asgiref==3.8.1
beautifulsoup4==4.13.4
certifi==2025.6.15
charset-normalizer==3.4.2
Django==4.2.23
django-bootstrap-v5==1.0.11
django-colorfield==0.14.0
django-cpf-cnpj==1.0.0
django-rest-framework==0.1.0
djangorestframework==3.16.0
et_xmlfile==2.0.0
fontawesomefree==6.6.0
idna==3.10
openpyxl==3.1.5
pillow==11.2.1
PyMySQL==1.1.1
PyYAML==6.0.2
requests==2.32.4
soupsieve==2.7
sqlparse==0.5.3
typing_extensions==4.14.0
urllib3==2.5.0
