{% extends 'template.html' %}
{% load static %}
{% block nav %}
{% include 'nav_empreendedor.html' %}
{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/carousel.css' %}">
{% endblock %}
{% block main %}
<div class="container">
  <div class="row">
    <div class="col d-flex flex-column">
      <h1>Admin - PDDE</h1>
      <p class="text-secondary">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia, repellendus. 
      </p>    
      <a href="{% url 'empreendedor:pdde_criar_escola' %}" class="btn btn-primary ms-auto"><i class="fa-solid fa-plus me-2"></i>Nova escola</a>

    </div>
  </div>
    <div class="row mt-4">
      <div class="col">
        {% if messages %}
          {% for message in messages %}
            <div class="alert {{ message.tags }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="table-responsive pt-4 border" style="background-color: white; border-radius: 30px; padding: 20px;">
                <table class="table table-borderless">
                  <thead>
                    <tr>
                      <th></th>
                      <th>CNPJ</th>
                      <th>Nome</th>
                      <th></th>
                      <th class="text-center">Editar</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for escola in escolas %}
                    <tr>
                      <td>
                        
                      </td>
                      <td>
                       {{escola.cnpj}}
                      </td>
                      <td>
                       {{escola.nome}}
                      </td>
                      <td></td>
                      <td class="text-center"><a class="btn btn-primary" href="#"><i class="fa-solid fa-pen-to-square"></i></a></td>                    
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6" class="px-5 text-center text-secondary py-5s">
                            <i>Nenhuma escola cadastrada.</i>
                        </td>
                      </tr>
                    {% endfor %}
                    <!-- <tr>
                      <td>
                        {{estudante.}}
                      </td>
                    </tr> -->
                  </tbody>
                </table>
        </div>
    </div>
    </div>
</div>
</div>
<div class="row mx-auto px-5">
  <script>
    document.getElementById('empreendedor_admin').classList.add('s-nav-active');
  </script>
</div>

<style>
  .border{
    border-color: rgba(146, 146, 146, 0.2) !important;
  }
</style>

</script>

{% endblock %}
{% block footer %}
{% include 'desenvolve_nf/instagram.html' %}
{% endblock %}