{% extends 'template.html' %}
{% load static %}
{% load empreendedor_filters %}
{% block nav %}
{% include 'nav_empreendedor.html' %}
{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/carousel.css' %}">
{% endblock %}
{% block main %}
<div class="container">
  <div class="row">
    <div class="col d-flex">
      <h1>Programa de Dinheiro Direto da Escola</h1>
        <a href="{% url 'empreendedor:pdde_empresa' %}" class="btn btn-secondary ms-auto my-auto">
          <i class="fa-solid fa-arrow-left me-2"></i>
          Voltar
        </a>               
    </div>
  </div>
    <div class="row mt-4">
      <div class="col">
        {% if messages %}
          {% for message in messages %}
            <div class="alert {{ message.tags }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
    <div class="row">  
      <div class="col">
        <!-- AQUI MOSTRAMOS AS INFORMAÇÕES DA ESCOLA DA SOLICITAÇÃO -->
        <h5><strong>{{solicitacao.escola.nome}} ({{solicitacao.escola.cnpj}})</strong></h5>
        <hr>
        <p>          
          <strong>Telefone:</strong> {{solicitacao.escola.telefone}}
          <strong class="ms-3">Endereço:</strong> {{solicitacao.escola.endereco}}
        </p>          
        <p>
          <strong>Descrição da solicitação:</strong>
          {{solicitacao.descricao}}
        </p>
      </div>    
    </div>
    {% if solicitacao.status == '1' %}
    <div class="row my-4">
      <div class="col border" style="font-size: 22pt; font-weight: 600; text-align: center; background-color: white; border-radius: 30px; padding: 20px;">
        FAÇA SUA PROPOSTA AGORA!
      </div>
    </div>
    <form method="POST" >
    <div class="row">
      <div class="col-4 d-flex flex-column">
        <strong>Selecione a empresa proponente:</strong>
        <!-- selecao por checkbox/radio -->
        <div class="d-flex flex-column pt-2">
          {% for empresa in empresas%}
          <label>
            <input type="radio" name="empresa" value="{{empresa.id}}"> {{empresa.nome}}
          </label>
          {% empty %}
          <p class="text-danger text-center">Não há empresa cadastrada em nosso sistema!</p>
          <div class="mx-auto mt-3 item border border d-flex flex-column mx-2 div_cursos">
            <a href="{% url 'empreendedor:cadastrar_empresa' %}">
              <div class="c-img" style="position: relative;">
                <img class="banner-img" src="/static/images/icons_servicos/sala_cadastrar_empresa.jpg" >
              </div>
            </a> 
          </div>  
          {% endfor %}
        </div>     

      </div>
        <div class="col">
          <div class="d-flex flex-column">
            <div class="table-responsive pt-4 border" style="background-color: white; border-radius: 30px; padding: 20px;">
                <table class="table table-borderless">
                  <thead>
                    <tr>
                      <th>Item</th>                      
                      <th>Descrição</th>
                      <th>Quantidade</th>
                      <th>Proposta (R$ XX,XX) <i class="fa-solid fa-circle-info"></i></th>                 
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in itens %}
                    <tr {% if loop.index is odd %}class="linha-impar"{% endif %}>                        
                        <td>
                            {{item.nome}}                          
                        </td>
                        <td>
                          {{item.descricao|limitarCaracteres:100}}
                        </td>
                        <td>{{item.quantidade}} {{item.unidade}}</td>
                        <td>
                          <input type="text" value="0,00" name="proposta-{{item.id}}" class="form-control proposta-input">
                        </td>                        
                    </tr>                
                {% endfor %}
                    <!-- <tr>
                      <td>
                        {{estudante.}}
                      </td>
                    </tr> -->
                  </tbody>
                </table>
                <div class="d-flex flex-column pt-4">
                  <label for="">
                    <strong>Previsão de quantos dias para entrega de {{tipo}}s após fechar o contrato?</strong>
                  </label>
                  <input type="number" name="dt_previsao" class="form-control">
                </div>
        </div>
        {% csrf_token %}
        <button type="submit" class="mt-3 btn btn-primary mx-auto w-100">Enviar proposta</button>
      </div>
    </div>
    </div>
  </form>
  {% else %}
  <div class="row my-4">
    <div class="col border" style="font-size: 22pt; font-weight: 600; text-align: center; background-color: white; border-radius: 30px; padding: 20px;">
      Foram realizadas {{total_propostas}} propostas para esta solicitação.
    </div>
  </div>
  <p class="text-center mb-4">No momento as propostas estão sendo analisadas.</p>
  <div class="table-responsive pt-4 border" style="background-color: white; border-radius: 30px; padding: 20px;">
    <table class="table table-borderless">
      <thead>
        <tr>
          <th>Item</th>                      
          <th>Descrição</th>
          <th>Quantidade</th>
        </tr>
      </thead>
      <tbody>
        {% for item in itens %}
        <tr {% if loop.index is odd %}class="linha-impar"{% endif %}>                        
            <td>
                {{item.nome}} {{loop.index0 }}                         
            </td>
            <td>
              {{item.descricao|limitarCaracteres:100}}
            </td>
            <td>{{item.quantidade}} {{item.unidade}}</td>                       
        </tr>                
    {% endfor %}
        <!-- <tr>
          <td>
            {{estudante.}}
          </td>
        </tr> -->
      </tbody>
    </table>
  </div>
  {% endif %}
</div>
</div>
<div class="row mx-auto px-5">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script>
    document.getElementById('empreendedor_admin').classList.add('s-nav-active');

    $(document).ready(function() {
    // Seletor para o campo de input 'proposta'
    var propostaInput = $('.proposta-input');

    // Adiciona um ouvinte de evento para o evento de digitação no campo de input
    propostaInput.on('input', function() {
      // Obtém o valor atual do campo de input
      var valor = $(this).val();

      // Remove todos os caracteres não numéricos
      valor = valor.replace(/[^0-9]/g, '');

      // Adiciona a vírgula como separador decimal e o ponto como separador de milhar
      var formattedValue = (parseFloat(valor) / 100).toLocaleString('pt-BR', { minimumFractionDigits: 2 });

      // Define o valor formatado de volta no campo de input
      $(this).val(formattedValue);
    });
  });

  function pegarDados(e){

  }
  </script>
</div>

<style>
  .linha-impar {
    background-color: #f0f0f0; /* Cor de fundo para linhas ímpares */
  }
  .border{
    border-color: rgba(146, 146, 146, 0.2) !important;
  }
</style>

</script>

{% endblock %}
{% block footer %}
{% include 'desenvolve_nf/instagram.html' %}
{% endblock %}