{% extends 'template.html' %}
{% load static %}
{% block nav %}
{% include 'nav_empreendedor.html' %}
{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/carousel.css' %}">
{% endblock %}
{% block main %}
<div class="container">
    <div class="row  bg-white" style="border-radius: 30px;">
      <div class="col">
        <div class="pt-4 d-flex px-3">
            <h2 style="display: inline;">Administrativo - Processos Digitais</h2>       
              <a href="{% url 'empreendedor:processos_digitais_admin' %}" class="btn btn-dark ms-auto my-auto">
                <i class="fa-solid fa-rotate-left me-2"></i> Voltar
              </a>
              {% if processo.status != 'cn' %}
              <a href="{% url 'empreendedor:novo_andamento_processo_admin' processo.id %}" class="btn btn-success ms-2 my-auto">
                <i class="fa-solid fa-circle-arrow-right me-2"></i> Dar novo andamento
              </a>
              {% endif %}
                               
            </div>
            <div class="row">
              <div class="col px-5 mt-4 d-flex">
                <span class="py-0 px-2 rounded-pill" style="background-color: rgb(152, 190, 223);">{{processo.get_status_display}}</span>
                <p class="ms-3">
                  <strong class="my-auto">{{processo.tipo_processo.nome}} - {{processo.n_protocolo}} - {{processo.dt_solicitacao|date:"d/m/y"}}</strong></p >
                <p class="ms-auto my-auto"><strong>Solicitante:</strong> <a href="#">{{processo.solicitante.first_name}}</a></p>
              </div>
            </div>
            {% if processo.status == 'cn' %}
            <div class="row">
              <div class="col text-center pt-4">
                <p><b>Processo encerrado!</b></p>
                <p class="mt-4">Número de inscrição:</p>
                <h3>
                  {{processo.n_inscricao}}
                </h3>
              </div>
            </div>
            {% endif %}
            <div class="row">
              <div class="col d-flex flex-column pt-4 pb-3 px-5">
                <hr>
                <div class="d-flex w-100 pt-4">
                  
                <h4>Anexos</h4>
                <div class="ms-auto d-flex">
                  <a class="btn btn-outline-dark" href="{{processo.rg.url}}" target="_blank">
                    <i class="fa-solid fa-id-card me-2"></i>RG
                  </a>
                  <a class="btn btn-outline-dark ms-2" href="{{processo.comprovante_endereco.url}}" target="_blank">
                    <i class="fa-solid fa-address-card me-2"></i>Comprovante de Endereço
                  </a>
                  {% if processo.profissao.escolaridade.id == 1  or processo.profissao.escolaridade.id == 2 or processo.profissao.escolaridade.id == 3 or processo.profissao.escolaridade.id == 4 %}
                  <a class="btn btn-outline-dark ms-2" href="{{processo.diploma_ou_certificado.url}}" target="_blank">
                    <i class="fa-solid fa-address-card me-2"></i>Diploma/Certificado
                  </a>
                  {% endif %}
              
              
                  {% if processo.profissao.licenca_sanitaria %}
                  <a class="btn btn-outline-dark ms-2" href="{{processo.licenca_sanitaria.url}}" target="_blank">
                    <i class="fa-solid fa-address-card me-2"></i>Licença Sanitaria
                  </a>
                  {% endif %}
                  {% if processo.autonomo_localizado == 's' %} 
                  <a class="btn btn-outline-dark ms-2" href="{{processo.espelho_iptu.url}}" target="_blank">
                    <i class="fa-solid fa-address-card me-2"></i>Espelho de IPTU
                  </a>
                  {% endif %}  
                </div>
                </div>
                  <div class="row my-4">
                    <div class="col d-flex flex-column">
                      <label for="">Status RG</label>
                      <select class="form-select" name="rg_status" id="id_rg_status" onchange="mudaStatusRG({{status_documentos.id}})">
                        <option value="0" {% if status_documentos.rg_status == '0' %}selected{% endif %}>Aguardando avaliação</option>
                      
                        <option value="1" {% if  status_documentos.rg_status == '1' %}selected{% endif %}>Aprovado</option>
                      
                        <option value="2" {% if  status_documentos.rg_status == '2' %}selected{% endif %}>Reprovado</option>
                      
                      </select>
                    </div>
                    <div class="col d-flex flex-column ms-2">
                      <label for="">Status Comprovante</label>
                      <select class="form-select" name="comprovante_status" id="id_comprovante_status" onchange="mudaStatusComprovante({{ status_documentos.id}})">
                        <option value="0" {% if  status_documentos.comprovante_endereco_status == '0' %}selected{% endif %}>Aguardando avaliação</option>
                      
                        <option value="1" {% if  status_documentos.comprovante_endereco_status == '1' %}selected{% endif %}>Aprovado</option>
                      
                        <option value="2" {% if  status_documentos.comprovante_endereco_status == '2' %}selected{% endif %}>Reprovado</option>
                      
                      </select>
                    </div>
                    {% if processo.profissao.escolaridade.id == 1  or processo.profissao.escolaridade.id == 2 or processo.profissao.escolaridade.id == 3 or processo.profissao.escolaridade.id == 4 %}
                    <div class="col d-flex flex-column ms-2">
                      <label for="">Status Diploma/Certificado</label>
                      <select class="form-select" name="certificado_status" id="id_certificado_status" onchange="mudaStatusCertificado({{ status_documentos.id}})">
                        <option value="0" {% if  status_documentos.comprovante_endereco_status == '0' %}selected{% endif %}>Aguardando avaliação</option>
                      
                        <option value="1" {% if  status_documentos.comprovante_endereco_status == '1' %}selected{% endif %}>Aprovado</option>
                      
                        <option value="2" {% if  status_documentos.comprovante_endereco_status == '2' %}selected{% endif %}>Reprovado</option>
                      
                      </select>
                    </div>
                  {% endif %}
                  {% if processo.profissao.licenca_sanitaria %}
                    <div class="col d-flex flex-column ms-2">
                      <label for="">Status Licença Sanitária</label>
                      <select class="form-select" name="licenca_status" id="id_licenca_status" onchange="mudaStatusLicenca({{ status_documentos.id}})">
                        <option value="0" {% if  status_documentos.comprovante_endereco_status == '0' %}selected{% endif %}>Aguardando avaliação</option>
                      
                        <option value="1" {% if  status_documentos.comprovante_endereco_status == '1' %}selected{% endif %}>Aprovado</option>
                      
                        <option value="2" {% if  status_documentos.comprovante_endereco_status == '2' %}selected{% endif %}>Reprovado</option>
                      
                      </select>
                    </div>
                    {% endif %}
                    {% if processo.autonomo_localizado == 's' %}
                    <div class="col d-flex flex-column ms-2">
                      <label for="">Status Espelho de IPTU</label>
                      <select class="form-select" name="espelho_status" id="id_espelho_status" onchange="mudaStatusEspelho({{ status_documentos.id}})">
                        <option value="0" {% if  status_documentos.comprovante_endereco_status == '0' %}selected{% endif %}>Aguardando avaliação</option>
                      
                        <option value="1" {% if  status_documentos.comprovante_endereco_status == '1' %}selected{% endif %}>Aprovado</option>
                      
                        <option value="2" {% if  status_documentos.comprovante_endereco_status == '2' %}selected{% endif %}>Reprovado</option>
                      
                      </select>
                    </div>
                    {% endif %}
                  </div>
                  {% if processo.status == 'bg' %}
                  <div class="row text-center">
                    <div class="col">
                      <p><i><b>Boleto foi gerado!</b> Aguardando usuário efetuar o pagamento.</i></p>
                      <a target="_blank" href="{{processo.boleto.url}}" class="btn btn-primary mt-3 mb-3">
                        <i class="fa-solid fa-file-arrow-down me-2"></i>Ver boleto
                      </a>
                    </div>
                  </div>
                  {% endif %}
                <hr>

              </div>
            </div>
            <div class="row">
              <div class="col px-5 d-flex">
                <h4 class="my-auto py-0">Andamento do processo</h4>
              </div>
            </div>
            <div class="row">
                <div class="col">
                  {% if messages %}
                    {% for message in messages %}
                      <div class="alert {{ message.tags }}">
                        {{ message }}
                      </div>
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
            <div class="row">
                <div class="col px-5 pb-5 d-flex flex-column">
                    <div class="menu mt-3 mb-4">
                        <a href="#">
                            Escolaridade
                        </a>
                        <a href="#" class="ms-3">
                            Profissão
                        </a>
                        <a href="#" class="ms-3">
                            Status do
                        </a>
                    </div>
                    <div class="processos">
                        <table class="table mt-4">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th class="text-center">Status do andamento</th>
                                    <th>Mensagem</th>
                                    <th class="text-center">Data do andamento</th>
                                    <th>Servidor</th>
                                </tr>
                            </thead>
                            <tbody>
                              {% for andamento in andamentos %}
                                <tr {% if forloop.first %}style="background-color: #FFE5CC;"{% endif %}>
                                    <td class="{% if forloop.first %}text-danger{% else %}text-success{% endif %} text-center">
                                      {% if forloop.first %}
                                      <i class="fa-solid fa-exclamation"></i>
                                      {% else %}
                                      <i class="fa-solid fa-check"></i>
                                      {% endif %}
                                    </td>
                                    <td class="text-center d-flex"><span class="mx-auto py-1 px-2 rounded-pill w-100" style="background-color: rgb(152, 190, 223); max-width: 300px;">{{andamento.get_status_display}}</span></td>
                                    <td>{% if andamento.observacao != 'n/h' %}{{andamento.observacao}}{% else %} <span class="text-secondary"><i>Não há mensagem.</i></span> {% endif %}</td>                  
                                    <td class="text-center">{{andamento.dt_andamento|date:"d/m/y"}}</td>
                                    <td>
                                      {% if andamento.servidor %}
                                     <a href="#"><i class="fa-solid fa-user me-2"></i>{{andamento.servidor.first_name}}</a>
                                      {% else %}
                                      <span class="text-secondary"><i>Criado pelo sistema.</i></span>
                                      {% endif %}
                                    </td>
                                </tr>                               
                              {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
      </div>
    </div>
</div>
</div>
<div class="row mx-auto px-5">
  {% csrf_token %}
  <script>
    document.getElementById('empreendedor_admin').classList.add('s-nav-active');

    let openfiltros = false
    function showFiltros(){
        if (openfiltros){      
            document.getElementById('filtros').style.display='none'
            openfiltros=false
        }else{
            document.getElementById('filtros').style.display='flex'
            openfiltros=true
        }
    }


  function mudaStatusRG(id){
            const csrfTokenInput = document.querySelector("input[name='csrfmiddlewaretoken']");
            const csrfToken = csrfTokenInput.value;
            var select = document.getElementById('id_rg_status');
            var status = select.options[select.selectedIndex].value;
            let url = "{% url 'empreendedor:mudaStatusRG' %}";
            fetch(url,{
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrfToken,
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ id: id, status: status })
            })
            .then((response)=>{
                response.json()
                .then((data)=>{                    
                    if (data.status == 'ok'){
                        alert('Status alterado com sucesso!')
                    }else{
                        alert('Erro ao alterar status!')
                    }
                })
            })
    }

    function mudaStatusComprovante(id){
            const csrfTokenInput = document.querySelector("input[name='csrfmiddlewaretoken']");
            const csrfToken = csrfTokenInput.value;
            var select = document.getElementById('id_comprovante_status');
            var status = select.options[select.selectedIndex].value;
            let url = "{% url 'empreendedor:mudaStatusComprovante' %}";
            fetch(url,{
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrfToken,
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ id: id, status: status })
            })
            .then((response)=>{
                response.json()
                .then((data)=>{                    
                    if (data.status == 'ok'){
                        alert('Status alterado com sucesso!')
                    }else{
                        alert('Erro ao alterar status!')
                    }
                })
            })
    }
    function mudaStatusCertificado(id){
            const csrfTokenInput = document.querySelector("input[name='csrfmiddlewaretoken']");
            const csrfToken = csrfTokenInput.value;
            var select = document.getElementById('id_certificado_status');
            var status = select.options[select.selectedIndex].value;
            let url = "{% url 'empreendedor:mudaStatusCertificado' %}";
            fetch(url,{
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrfToken,
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ id: id, status: status })
            })
            .then((response)=>{
                response.json()
                .then((data)=>{                    
                    if (data.status == 'ok'){
                        alert('Status alterado com sucesso!')
                    }else{
                        alert('Erro ao alterar status!')
                    }
                })
            })
    }
    function mudaStatusLicenca(id){
            const csrfTokenInput = document.querySelector("input[name='csrfmiddlewaretoken']");
            const csrfToken = csrfTokenInput.value;
            var select = document.getElementById('id_licenca_status');
            var status = select.options[select.selectedIndex].value;
            let url = "{% url 'empreendedor:mudaStatusLicenca' %}";
            fetch(url,{
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrfToken,
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ id: id, status: status })
            })
            .then((response)=>{
                response.json()
                .then((data)=>{                    
                    if (data.status == 'ok'){
                        alert('Status alterado com sucesso!')
                    }else{
                        alert('Erro ao alterar status!')
                    }
                })
            })
    }
    function mudaStatusEspelho(id){
            const csrfTokenInput = document.querySelector("input[name='csrfmiddlewaretoken']");
            const csrfToken = csrfTokenInput.value;
            var select = document.getElementById('id_espelho_status');
            var status = select.options[select.selectedIndex].value;
            let url = "{% url 'empreendedor:mudaStatusEspelho' %}";
            fetch(url,{
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrfToken,
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ id: id, status: status })
            })
            .then((response)=>{
                response.json()
                .then((data)=>{                    
                    if (data.status == 'ok'){
                        alert('Status alterado com sucesso!')
                    }else{
                        alert('Erro ao alterar status!')
                    }
                })
            })
    }
  </script>
</div>

<style>
    .menu {
  display: none; /* Inicialmente, ocultar o menu */
}

.menu-open {
  display: block; /* Quando a classe "menu-open" é adicionada, mostrar o menu */
  /* Outros estilos para o menu aberto, como posição, cores, etc. */
}
    .border{
        border-color: rgba(146, 146, 146, 0.2) !important;
    }
    #filtros{
        display: none;
    }
</style>

</script>

{% endblock %}
{% block footer %}
{% include 'desenvolve_nf/instagram.html' %}
{% endblock %}