{% extends 'template.html' %}
{% load static %}
{% block nav %}
{% include 'nav_empreendedor.html' %}
{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/carousel.css' %}">
{% endblock %}
{% block main %}
<div class="container">
    <div class="row  bg-white" style="border-radius: 30px;">
      <div class="col">
        <div class="pt-4 d-flex px-3">
            <h2 style="display: inline;">Administrativo - Processos Digitais</h2>                        
              <a href="{% url 'empreendedor:admin' %}" class="btn btn-dark ms-auto my-auto">
                <i class="fa-solid fa-rotate-left"></i>
              </a>                        
            </div>
            <div class="row">
                <div class="col">
                  {% if messages %}
                    {% for message in messages %}
                      <div class="alert {{ message.tags }}">
                        {{ message }}
                      </div>
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
            <div class="row">
                <div class="col px-5 pb-5 d-flex flex-column">
                    <div class="menu mt-3 mb-4">
                        <a href="#">
                            Escolaridade
                        </a>
                        <a href="#" class="ms-3">
                            Profissão
                        </a>
                        <a href="#" class="ms-3">
                          Status
                      </a>
                    </div>
                    <div class="processos">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Processo</th>
                                    <th>Status</th>
                                    <th>Dt. Solicitação</th>
                                    <th>Solicitante</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="#">NSDNDANADI81289</a></td>
                                    <td>Aguardando avaliação do pedido</td>
                                    <td>25/09/2023</td>
                                    <td><a target="_blank" href="#">Eduardo Salarini</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
      </div>
    </div>
</div>
</div>
<div class="row mx-auto px-5">
  <script>
    document.getElementById('empreendedor_admin').classList.add('s-nav-active');

    let openfiltros = false
    function showFiltros(){
        if (openfiltros){      
            document.getElementById('filtros').style.display='none'
            openfiltros=false
        }else{
            document.getElementById('filtros').style.display='flex'
            openfiltros=true
        }
    }
  </script>
</div>

<style>
    .border{
        border-color: rgba(146, 146, 146, 0.2) !important;
    }
    #filtros{
        display: none;
    }
</style>

</script>

{% endblock %}
{% block footer %}
{% include 'desenvolve_nf/instagram.html' %}
{% endblock %}