<div id="slideContainer" class="border" style="border-radius: 30px;">
    <div class="slide active" style="box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1); border-radius: 30px;">
      <div class="row">
        <div class="banner_destaque d-flex flex-column flex-xl-row bg-white img-txt">
          <div class="img-destaque">
            <img class="banner_img_destaque w-100 h-100" src="/static/images/capacitacao-banner-empresarial.png">
          </div>
          <!-- <div style="max-width: 400px;" class="m-auto text-destaque pb-0 d-flex flex-column">
            <h3 class="mb-4">BEM-VINDO</h3>
            <p>
              A capacitação profissional é o alicerce que conecta aprendizado e carreira, 
              aprimorando habilidades práticas e conhecimentos especializados. Ela constrói
               pontes entre teoria e prática, capacitando indivíduos a se destacarem no 
               dinâmico cenário profissional, promovendo inovação e excelência.
            </p>
            <span  id="servicos"></span>
            <a href="#" class="btn btn-outline-primary btn-details mt-4 mb-auto pt-0w-100 mx-auto" id="esp">Detalhes</a>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <script>
    // const slides = document.querySelectorAll('.slide');
    // let currentSlide = 0;
  
    // function showSlide(slideIndex) {
    //   if (slideIndex >= slides.length) {
    //     slideIndex = 0;
    //   } else if (slideIndex < 0) {
    //     slideIndex = slides.length - 1;
    //   }
  
    //   for (let i = 0; i < slides.length; i++) {
    //     slides[i].classList.remove('active');
    //   }
  
    //   slides[slideIndex].classList.add('active');
    //   currentSlide = slideIndex;
    // }
  
    // function nextSlide() {
    //   showSlide(currentSlide + 1);
    // }
  
    // function previousSlide() {
    //   showSlide(currentSlide - 1);
    // }
      
    // document.getElementById('slideContainer').addEventListener('click', function(e) {
    //   if (e.target.classList.contains('next')) {
    //     nextSlide();
    //   } else if (e.target.classList.contains('previous')) {
    //     previousSlide();
    //   }
    // });
      
    // setInterval(nextSlide, 9000);
  </script>