{% extends 'template.html' %}
{% load static %}
{% block nav %}
{% include 'nav_empreendedor.html' %}
{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/carousel.css' %}">
{% endblock %}
{% block main %}
<div class="container">
<div class="row mx-auto ps-4 pb-3">
<h3>QUERO SER MEI</h3>
</div>
<style>
    .item{
        margin: auto !important;
    }
</style>
<div class="row mx-auto">
  <div class="d-flex flex-wrap justify-content-center">
    <div class="item d-flex flex-column border" style="width: 300px; height: 200px;">
      <a target="_blank" class="w-100 h-100" href="#">
        <div class="d-flex flex-column w-100 h-100" >
          <span class="mx-auto mt-auto mb-2"><i class="fa-2x fa-solid fa-circle-info"></i></span>
          <span class="mx-auto mb-auto mt-2 px-5">Por que ser MEI?</span>
        </div>
      </a> 
    </div>
    <div class="item d-flex flex-column border" style="width: 300x; height: 200px;">
        <a target="_blank" class="w-100 h-100" href="#">
          <div class="d-flex flex-column w-100 h-100" >
            <span class="mx-auto mt-auto mb-2"><i class="fa-2x fa-solid fa-circle-info"></i></span>
            <span class="mx-auto mb-auto mt-2 px-5">O que você precisa saber antes de se tornar um MEI?</span>
          </div>
        </a> 
      </div>
      <div class="item d-flex flex-column border" style="width: 300px; height: 200px;">
        <a target="_blank" class="w-100 h-100" href="#">
          <div class="d-flex flex-column w-100 h-100" >
            <span class="mx-auto mt-auto mb-2"><i class="fa-2x fa-solid fa-circle-info"></i></span>
            <span class="mx-auto mb-auto mt-2 px-5">Formalize-se</span>
          </div>
        </a> 
      </div>
      <div class="item d-flex flex-column border" style="width: 300px; height: 200px;">
        <a target="_blank" class="w-100 h-100" href="#">
          <div class="d-flex flex-column w-100 h-100" >
            <span class="mx-auto mt-auto mb-2"><i class="fa-2x fa-solid fa-circle-info"></i></span>
            <span class="mx-auto mb-auto mt-2 px-5">Jornada Empreendedora</span>
          </div>
        </a> 
      </div>
  </div>
</div>
<div class="row mx-auto mt-3">
    <div class="d-flex flex-wrap justify-content-center">
      <div class="item d-flex flex-column border" style="width: 300px; height: 200px;">
        <a target="_blank" class="w-100 h-100" href="#">
          <div class="d-flex flex-column w-100 h-100" >
            <span class="mx-auto mt-auto mb-2"><i class="fa-2x fa-solid fa-circle-info"></i></span>
            <span class="mx-auto mb-auto mt-2">Documentos necessários</span>
          </div>
        </a> 
      </div>
      <div class="item d-flex flex-column border" style="width: 300x; height: 200px;">
          <a target="_blank" class="w-100 h-100" href="#">
            <div class="d-flex flex-column w-100 h-100" >
              <span class="mx-auto mt-auto mb-2"><i class="fa-2x fa-solid fa-circle-info"></i></span>
              <span class="mx-auto mb-auto mt-2 px-5">Quais as ocupações que podem ser MEI</span>
            </div>
          </a> 
        </div>
        <div class="item d-flex flex-column border" style="width: 300px; height: 200px;">
          <a target="_blank" class="w-100 h-100" href="#">
            <div class="d-flex flex-column w-100 h-100" >
              <span class="mx-auto mt-auto mb-2"><i class="fa-2x fa-solid fa-circle-info"></i></span>
              <span class="mx-auto mb-auto mt-2 px-5">Dicas de Segurança da Vigilância Sanitária</span>
            </div>
          </a> 
        </div>
        <div class="item d-flex flex-column border" style="width: 300px; height: 200px;">
          <a target="_blank" class="w-100 h-100" href="#">
            <div class="d-flex flex-column w-100 h-100" >
              <span class="mx-auto mt-auto mb-2"><i class="fa-2x fa-solid fa-circle-info"></i></span>
              <span class="mx-auto mb-auto mt-2 px-5">Dicas de Segurança do Corpo de Bombeiros</span>
            </div>
          </a> 
        </div>
    </div>
  </div>
  <div class="row mx-auto mt-3">
    <div class="d-flex flex-wrap justify-content-center">
      <div class="item d-flex flex-column border" style="width: 300px; height: 200px;">
        <a target="_blank" class="w-100 h-100" href="#">
          <div class="d-flex flex-column w-100 h-100" >
            <span class="mx-auto mt-auto mb-2"><i class="fa-2x fa-solid fa-circle-info"></i></span>
            <span class="mx-auto mb-auto mt-2 px-5">Dicas de Meio Ambiente</span>
          </div>
        </a> 
      </div>
      <div class="item d-flex flex-column border" style="width: 300x; height: 200px;">
          <a target="_blank" class="w-100 h-100" href="#">
            <div class="d-flex flex-column w-100 h-100" >
              <span class="mx-auto mt-auto mb-2"><i class="fa-2x fa-solid fa-circle-info"></i></span>
              <span class="mx-auto mb-auto mt-2 px-5">Prepare-se</span>
            </div>
          </a> 
        </div>
        <div class="item d-flex flex-column border" style="width: 300px; height: 200px;">
          <a target="_blank" class="w-100 h-100" href="#">
            <div class="d-flex flex-column w-100 h-100" >
              <span class="mx-auto mt-auto mb-2"><i class="fa-2x fa-solid fa-circle-info"></i></span>
              <span class="mx-auto mb-auto mt-2 px-5">Quero ser MEI Caminhoneiro</span>
            </div>
          </a> 
        </div>
        <div class="item d-flex flex-column border" style="width: 300px; height: 200px;">
          <a target="_blank" class="w-100 h-100" href="#">
            <div class="d-flex flex-column w-100 h-100" >
              <span class="mx-auto mt-auto mb-2"><i class="fa-2x fa-solid fa-circle-info"></i></span>
              <span class="mx-auto mb-auto mt-2 px-5">Direitos e Obrigações</span>
            </div>
          </a> 
        </div>
    </div>
  </div>
  <div class="row mx-auto mt-3">
    <div class="d-flex flex-wrap justify-content-center">
      <div class="item d-flex flex-column border" style="width: 300px; height: 200px;">
        <a target="_blank" class="w-100 h-100" href="#">
          <div class="d-flex flex-column w-100 h-100" >
            <span class="mx-auto mt-auto mb-2"><i class="fa-2x fa-solid fa-circle-info"></i></span>
            <span class="mx-auto mb-auto mt-2 px-5">Cadastro de Atividade Turística - Cadastur</span>
          </div>
        </a> 
      </div>
      <div class="item d-flex flex-column border" style="width: 300x; height: 200px;">
          <a target="_blank" class="w-100 h-100" href="#">
            <div class="d-flex flex-column w-100 h-100" >
              <span class="mx-auto mt-auto mb-2"><i class="fa-2x fa-solid fa-circle-info"></i></span>
              <span class="mx-auto mb-auto mt-2 px-5">RNTRC</span>
            </div>
          </a> 
        </div>
        <div class="item d-flex flex-column border" style="width: 300px; height: 200px;">
          <a target="_blank" class="w-100 h-100" href="#">
            <div class="d-flex flex-column w-100 h-100" >
              <span class="mx-auto mt-auto mb-2"><i class="fa-2x fa-solid fa-circle-info"></i></span>
              <span class="mx-auto mb-auto mt-2 px-5">Perguntas Frequentes</span>
            </div>
          </a> 
        </div>
        <div class="item d-flex flex-column border" style="width: 300px; height: 200px;">
          <a target="_blank" class="w-100 h-100" href="#">
            <div class="d-flex flex-column w-100 h-100" >
              <span class="mx-auto mt-auto mb-2"><i class="fa-2x fa-solid fa-circle-info"></i></span>
              <span class="mx-auto mb-auto mt-2 px-5">Ajuda</span>
            </div>
          </a> 
        </div>
    </div>
  </div>
  <style>
    span{
        text-align: center;
    }
  </style>
<div class="row mx-auto px-5">
  <script>
    // document.getElementById('empreendedor_inicio').classList.add('s-nav-active');
  </script>
</div>
</div>


{% endblock %}
{% block footer %}
{% include 'desenvolve_nf/instagram.html' %}
{% endblock %}x