{% extends 'template.html' %}
{% load static %}
{% block nav %}
{% include 'nav_empreendedor.html' %}
{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/carousel.css' %}">
{% endblock %}
{% block main %}
<div class="container">
  <div class="row mx-auto ps-4 pb-3">
    <h3>Consultar protocolo</h3>
  </div>
</div>
<div class="row mx-auto">
  <div class="d-flex flex-wrap justify-content-center">
      <form method="POST">
        {% csrf_token %}
        <label for="id_cpf">CPF</label>
        <input type="text" name="cpf" id="id_cpf" class="form-control">
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>{{status}}</p>
    <p>{{message}}</p>
  </div>
</div>
  <style>
    span{
        text-align: center;
    }
  </style>
<div class="row mx-auto px-5">
  <script>
    document.getElementById('empreendedor_protocolo').classList.add('s-nav-active');
  </script>
</div>


{% endblock %}
{% block footer %}
{% include 'desenvolve_nf/instagram.html' %}
{% endblock %}x