{% extends 'template.html' %}
{% load static %}
{% block nav %}
{% include 'nav_empreendedor.html' %}
{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/carousel.css' %}">
{% endblock %}
{% block main %}
<div class="row mx-auto pb-3">
  <style>
      body {
          background-color: #f4f4f4;
          font-family: Arial, sans-serif;
          text-align: center;
      }

      .construction-icon {
          font-size: 48px;
          color: #e74c3c;
      }

      .message {
          font-size: 24px;
          margin-top: 20px;
          color: #333;
      }

      .contact {
          font-size: 18px;
          margin-top: 20px;
          color: #666;
      }
  </style>

  <div class="py-5 d-flex flex-column">
      <h3>{{titulo_pag}}</h3>
      <a href="https://servicoonline.novafriburgo.rj.gov.br/services/lancamentos_diversos.php?cod=NF" target="_blank" class="my-3">
        Emissão da taxa de ISS Anual
      </a>
      <div class="mx-auto" style="text-align: left !important;">
        <p><strong>Solicitação de autônomo pelo Regin:</strong></p>
        <p>0. Entrar no site Jucerja (Junta comercial)</p>
        <p>1. Serviços</p>
        <p>2. Regin</p>
        <p>3. Serviços Regin</p>
        <p>4. Pedido de legalização de inscrição</p>
        <p>5. Municipio de interesse: Nova Friburgo</p>
        <p>6. Instituição: Prefeitura Municipal - eventos exclusivos</p>
        <p>7. Novo Requerimento: É só preencher os dados</p>
      </div>
      <div class="mx-auto mt-4">
        <div class="item border d-flex flex-column mx-2 div_cursos">
          <a target="_blank" href="https://www.jucerja.rj.gov.br/">
            <div class="c-img" style="position: relative;">
              <img class="banner-img" src="/static/images/icons_servicos/junta-comercial.jpeg" >
            </div>
          </a> 
        </div>
      </div>
  </div>
  <div class="row mx-auto px-5">
    <script>
      document.getElementById('empreendedor_servicos').classList.add('s-nav-active');
    </script>
  </div>
</div>


{% endblock %}
{% block footer %}
{% include 'desenvolve_nf/instagram.html' %}
{% endblock %}x