{% extends 'template.html' %}
{% load static %}
{% block nav %}
{% include 'nav_empreendedor.html' %}
{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/carousel.css' %}">
{% endblock %}
{% block main %}
<div class="row mx-auto pb-3">
  <style>
      body {
          background-color: #f4f4f4;
          font-family: Arial, sans-serif;
          text-align: center;
      }
      p{
        text-align: justify;
        margin-bottom: 10px;
      }
      ul, li{
        text-align: justify;
      } 
      ul{
        margin-bottom: 30px;
      }
  </style>

<div class="container mt-4">
  <h1 class="mb-3">Decreto de consolidação das normas tributárias</h1>
  <p><strong>Atualizado em 21/09/2022</strong></p>
  <p><strong>DECRETO N° 1701, de 09 de setembro de 2022.</strong></p>
  <p>Aprova, em texto único, a Consolidação das Normas Tributárias do Município de Nova Friburgo e dá outras providências.</p>
  
  <p><strong>DECRETA:</strong></p>

  <p><strong>Art. 1º</strong> Fica aprovada, em texto único, a Consolidação da Legislação Tributária do Município de Nova Friburgo para o exercício de 2022, que compreende as disposições a seguir enumeradas:</p>

  <ul>
      <li><strong>Normas Gerais:</strong></li>
      <ul>
          <li>Lei Complementar n° 124, de 28 de setembro de 2018 – institui o Código Tributário do Município de Nova Friburgo, e dá outras providências</li>
          <li>Decreto Municipal n° 1261, de 30 de dezembro de 2021 — Estabelece o calendário fiscal para o exercício de 2022 e dá outras providências.</li>
      </ul>
      <li><strong>Legislação Específica:</strong></li>
      <ul>
          <li>Imposto sobre a Propriedade Predial e Territorial Urbana – IPTU:</li>
          <ul>
              <li>Lei Complementar N° 130, De 19/12/2019 – Dispõe sobre a isenção de IPTU de imóveis cedidos ou locados a templos religiosos</li>
              <li>Lei Complementar N° 125, De 26/12/2018 – Disciplina a aplicação de limitador de acréscimo ao valor final do Imposto sobre a Propriedade Predial e Territorial Urbana — IPTU, e dá outras providências.</li>
              <li>Lei Complementar N° 117, De 19/12/2017 – Altera O Art. 6o da Lei Complementar Municipal n 48, de 23 de Dezembro de 2009, com o propósito de estabelecer limitador de 60% sobre o acréscimo do IPTU oriundo da aplicação da Planta Genérica de Valores e do recadastramento impedindo assim o aumento real do imposto previsto no texto originário da Lei Complementar n 48 de 23 de dezembro de 2009.</li>
              <!-- Adicione mais itens conforme necessário -->
          </ul>
      </ul>
      <!-- Adicione mais seções conforme necessário -->
  </ul>

  <p><strong>Imposto sobre Serviço de Qualquer Natureza — ISS:</strong></p>
  <ul>
      <li>Lei 4.281, de 16 de dezembro de 2013 — Institui a obrigação acessória relativa à Declaração Eletrônica de Serviços de Instituições Financeiras e a elas equiparadas — DES-IF, e dá outras providências</li>
      <li>Decreto n 976, de 28 de abril de 2021 — Regulamenta a emissão de Nota Fiscal de Serviços eletrônica — NFS-e, revoga o Decreto nº 132/2016 e dá outras providências, alterado pelo Decreto n 1.657 de 18 de agosto de 2022, que inclui o inciso XI ao artigo 21, inclui o inciso XI ao art. 23 e altera o parágrafo único do art. 21 do Decreto 976/2021.</li>
      <li>Decreto n° 978, de 28 de abril de 2021 — Regulamenta a obrigaçăo acessória relativa à Declaração Eletrônica de Serviços de Instituições Financeiras — DES-IF, instituída na Lei 4.281, de 16/12/2013, e dá outras providências.</li>
  </ul>

  <p><strong>Imposto sobre a transmissão de bens imóveis — ITBI:</strong></p>
  <ul>
      <li>a) Lei Complementar 124, de 28 de setembro de 2018 — Código Tributário Municipal.</li>
  </ul>

  <p><strong>Outros assuntos:</strong></p>
  <ul>
      <li>a) Lei Complementar 119, de 21 de dezembro de 2017 – Ab-roga a Lei Complementar n° 43/2009 e regulamenta no âmbito do Município o tratamento diferenciado e favorecido às microempresas, empresas de pequeno porte e microempresas, que trata a Lei Federal n° 123/2006 e suas alterações e dá outras providências.</li>
  </ul>

  <p><strong>Art. 2 – A Secretaria Municipal de Finanças, Planejamento, Desenvolvimento Econômico e Gestão fará publicar a Consolidação aprovada por este Decreto, para sua melhor divulgação entre os contribuintes e munícipes em geral.</strong></p>

  <p><strong>Art. 3 – Este Decreto entra em vigor na data de sua publicação.</strong></p>

  <p><strong>Art. 4 Revogam-se as disposições em contrário.</strong></p>

  <p><strong>Registre-se, publique-se e cumpra-se.</strong></p>

  <p><strong>Palácio Barão de Nova Friburgo, 09 de setembro de 2022.</strong></p>

  <p><strong>JOHNNY MAYCON</strong> PREFEITO</p>
</div>
  <div class="row mx-auto px-5">
    <script>
      document.getElementById('empreendedor_servicos').classList.add('s-nav-active');
    </script>
  </div>
</div>


{% endblock %}
{% block footer %}
{% include 'desenvolve_nf/instagram.html' %}
{% endblock %}x