{% extends 'template.html' %}
{% load static %}
{% block nav %}
{% include 'nav_empreendedor.html' %}
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/quero-ser-mei.css'%}">
<link rel="stylesheet" href="{% static 'css/carousel.css' %}">
{% endblock %}
{% block main %}
<div class="container">
  <div class="row mx-auto ps-4 pb-3">
    <h3 class="text-center">Jornada Empreendedora</h3>
  </div>
  <div class="row mx-auto mb-5">
    <div class="col">
      <p class="mb-3"><b>Serviços disponíveis:</b></p>
      <li>Informações detalhadas sobre cada uma das profissões/ocupações exercidas por MEI, com descrição das
        competências necessárias para exercê-las, ferramentas tecnológicas que precisam ser dominadas e o nível de
        preparação requerido;</li>
      <li>Teste das competências possuídas por cada empreendedor, a fim de identificar as competências que
        ainda precisam ser desenvolvidas para crescer o seu negócio </li>
      <li>
        Apresentação de uma trilha de aprendizagem personalizada, que endereça as principais necessidades de
        desenvolvimento profissional;
      </li>
      <li>
        Direcionamento para cursos conectados com a trilha sugerida e escolhidos especificamente para atender às
        principais necessidades identificadas.
      </li>
      <p class="my-3"><b>
        Passo a passo da utilização dos serviços:</b></p>
      <li>Consulte a profissão MEI que você já
        exerce ou que tem interesse em exercer. A consulta pode se dar diretamente pela busca por nome da
        profissão/ocupação ou por meio da busca por campo de atuação (comércio; logística e transporte; indústria e
        construção civil; etc). </li>
      <li>Conheça as principais competências
        necessárias para exercício da ocupação pesquisada; </li>
      <li>Avalie as suas competências em
        relação à ocupação desejada. Para isso, clique no botão “começar” e faça seu login com uma conta de acesso único
        do governo (conta gov.br) - antigo Brasil Cidadão. Se você ainda não tem sua conta, clique no botão “Criar Conta
        Gov.Br”; </li>
      <li>Após concluir o questionário de
        teste, receba automaticamente e de maneira gratuita um diagnóstico das competências que você já domina e
        daquelas que ainda precisa desenvolver para o sucesso do seu negócio; </li>
      <li>Na sequência, visualize a trilha de
        capacitação montada especificamente para você e para atender às suas necessidades de desenvolvimento; </li>
      Desta trilha, selecione os temas nos
      quais deseje se capacitar;
      <li>Seja direcionado para os cursos de
        qualificação nos temas indicados, que te ajudarão a desenvolver as competências necessárias</li>
    </div>
  </div>

  {% include 'sala_do_empreendedor/quero-ser-mei/menu.html' %}
  <style>
    span {
      text-align: center;
    }
  </style>
  <div class="row mx-auto px-5">
    <script>
    // document.getElementById('empreendedor_inicio').classList.add('s-nav-active');
    </script>
  </div>
</div>


{% endblock %}
{% block footer %}
{% include 'desenvolve_nf/instagram.html' %}
{% endblock %}