<div id="menu-grid" class="mx-auto">
  <div class="item d-flex flex-column border">
    <a class="w-100 h-100" href="{% url 'empreendedor:por_que_ser_mei' %}">
      <div class="d-flex flex-column w-100 h-100" >
        <span class="mx-auto mt-auto mb-2"><i class="fa-2x fa-solid fa-circle-info"></i></span>
        <span class="mx-auto mb-auto mt-2 px-3">Por que ser MEI?</span>
      </div>
    </a> 
  </div>
  <div class="item d-flex flex-column border">
    <a class="w-100 h-100" href="{% url 'empreendedor:o_que_precisa_saber_para_ser_mei' %}">
      <div class="d-flex flex-column w-100 h-100" >
        <span class="mx-auto mt-auto mb-2"><i class="fa-2x fa-solid fa-circle-info"></i></span>
        <span class="mx-auto mb-auto mt-2">O que você precisa saber antes de se tornar um MEI?</span>
      </div>
    </a> 
  </div>
  <div class="item d-flex flex-column border">
    <a target="_blank" class="w-100 h-100" href="https://www.gov.br/empresas-e-negocios/pt-br/empreendedor/quero-ser-mei/obtencao-de-cnpj-acesso-restrito">
      <div class="d-flex flex-column w-100 h-100" >
        <span class="mx-auto mt-auto mb-2"><i class="fa-2x fa-solid fa-circle-info"></i></span>
        <span class="mx-auto mt-2 mb-auto">Formalize-se online</span>
      </div>
    </a> 
  </div>
  <div class="item d-flex flex-column border">
    <a target="_blank" class="w-100 h-100" href="{% url 'empreendedor:jornada_empreendedora' %}">
      <div class="d-flex flex-column w-100 h-100" >
        <span class="mx-auto mt-auto mb-2"><i class="fa-2x fa-solid fa-circle-info"></i></span>
        <span class="mx-auto mb-auto mt-2">Jornada Empreendedora</span>
      </div>
    </a> 
  </div>
  <div class="item d-flex flex-column border">
    <a target="_blank" class="w-100 h-100" href="{% url 'empreendedor:documentosNecessarios' %}">
      <div class="d-flex flex-column w-100 h-100" >
        <span class="mx-auto mt-auto mb-2"><i class="fa-2x fa-solid fa-circle-info"></i></span>
        <span class="mx-auto mb-auto mt-2">Documentos necessários</span>
      </div>
    </a> 
  </div>
  <div class="item d-flex flex-column border">
    <a target="_blank" class="w-100 h-100" href="{% url 'empreendedor:quaisAsOcupacoesQuePodemSerMei' %}">
      <div class="d-flex flex-column w-100 h-100" >
        <span class="mx-auto mt-auto mb-2"><i class="fa-2x fa-solid fa-circle-info"></i></span>
        <span class="mx-auto mb-auto mt-2">Quais as ocupações que podem ser MEI</span>
      </div>
    </a> 
  </div>
  <div class="item d-flex flex-column border">
    <a target="_blank" class="w-100 h-100" href="{% url 'empreendedor:dicasDeSegurancaDaVigilanciaSanitaria' %}">
      <div class="d-flex flex-column w-100 h-100" >
        <span class="mx-auto mt-auto mb-2"><i class="fa-2x fa-solid fa-circle-info"></i></span>
        <span class="mx-auto mb-auto mt-2">Dicas de Segurança da Vigilância Sanitária</span>
      </div>
    </a> 
  </div>
  <div class="item d-flex flex-column border">
    <a target="_blank" class="w-100 h-100" href="{% url 'empreendedor:dicasDeSegurançaDoCorpoDeBombeiros' %}">
      <div class="d-flex flex-column w-100 h-100" >
        <span class="mx-auto mt-auto mb-2"><i class="fa-2x fa-solid fa-circle-info"></i></span>
        <span class="mx-auto mb-auto mt-2">Dicas de Segurança do Corpo de Bombeiros</span>
      </div>
    </a> 
  </div>
  <div class="item d-flex flex-column border">
    <a target="_blank" class="w-100 h-100" href="{% url 'empreendedor:dicasDeMeioAmbiente' %}">
      <div class="d-flex flex-column w-100 h-100" >
        <span class="mx-auto mt-auto mb-2"><i class="fa-2x fa-solid fa-circle-info"></i></span>
        <span class="mx-auto mb-auto mt-2">Dicas de Meio Ambiente</span>
      </div>
    </a> 
  </div>
  <div class="item d-flex flex-column border">
    <a target="_blank" class="w-100 h-100" href="{% url 'empreendedor:prepareSe' %}">
      <div class="d-flex flex-column w-100 h-100" >
        <span class="mx-auto mt-auto mb-2"><i class="fa-2x fa-solid fa-circle-info"></i></span>
        <span class="mx-auto mb-auto mt-2">Prepare-se</span>
      </div>
    </a> 
  </div>
  <div class="item d-flex flex-column border">
    <a target="_blank" class="w-100 h-100" href="{% url 'empreendedor:transportadorAutonomoDeCargas' %}">
      <div class="d-flex flex-column w-100 h-100" >
        <span class="mx-auto mt-auto mb-2"><i class="fa-2x fa-solid fa-circle-info"></i></span>
        <span class="mx-auto mb-auto mt-2">Quero ser MEI Caminhoneiro</span>
      </div>
    </a> 
  </div>
  <div class="item d-flex flex-column border">
    <a target="_blank" class="w-100 h-100" href="{% url 'empreendedor:direitosEObrigacoes' %}">
      <div class="d-flex flex-column w-100 h-100" >
        <span class="mx-auto mt-auto mb-2"><i class="fa-2x fa-solid fa-circle-info"></i></span>
        <span class="mx-auto mb-auto mt-2">Direitos e Obrigações</span>
      </div>
    </a> 
  </div>
  <div class="item d-flex flex-column border">
    <a target="_blank" class="w-100 h-100" href="{% url 'empreendedor:registrocadastur' %}">
      <div class="d-flex flex-column w-100 h-100" >
        <span class="mx-auto mt-auto mb-2"><i class="fa-2x fa-solid fa-circle-info"></i></span>
        <span class="mx-auto mb-auto mt-2">Cadastro de Atividade Turística - Cadastur</span>
      </div>
    </a> 
  </div>
  <div class="item d-flex flex-column border">
    <a target="_blank" class="w-100 h-100" href="https://portal.antt.gov.br/rntrc">
      <div class="d-flex flex-column w-100 h-100" >
        <span class="mx-auto mt-auto mb-2"><i class="fa-2x fa-solid fa-circle-info"></i></span>
        <span class="mx-auto mb-auto mt-2">RNTRC</span>
      </div>
    </a> 
  </div>
  <div class="item d-flex flex-column border">
    <a target="_blank" class="w-100 h-100" href="https://www.gov.br/empresas-e-negocios/pt-br/empreendedor/perguntas-frequentes">
      <div class="d-flex flex-column w-100 h-100" >
        <span class="mx-auto mt-auto mb-2"><i class="fa-2x fa-solid fa-circle-info"></i></span>
        <span class="mx-auto mb-auto mt-2">Perguntas Frequentes</span>
      </div>
    </a> 
  </div>
  <div class="item d-flex flex-column border">
    <a target="_blank" class="w-100 h-100" href="https://www.gov.br/empresas-e-negocios/pt-br/empreendedor/ajuda">
      <div class="d-flex flex-column w-100 h-100" >
        <span class="mx-auto mt-auto mb-2"><i class="fa-2x fa-solid fa-circle-info"></i></span>
        <span class="mx-auto mb-auto mt-2">Ajuda</span>
      </div>
    </a> 
  </div>
</div>