{% extends 'template.html' %}
{% load static %}
{% block nav %}
{% include 'nav_empreendedor.html' %}
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/quero-ser-mei.css'%}">
<link rel="stylesheet" href="{% static 'css/carousel.css' %}">
{% endblock %}
{% block main %}
<div class="container">
    <div class="row mx-auto ps-4 pb-3">
        <h3 class="text-center">Transportador autônomo de cargas (MEI Caminhoneiro)</h3>
    </div>
    <div class="row mx-auto mb-5">
        <div class="col">
            <p style="text-align: justify;"><b>Para se formalizar como transportados autônomo de cargas (MEI Caminhoneiro), deverá observar as seguintes condições:</b></p>
            <div class="my-3">
                <ul class="mt-3">
                    <li>
                        Exercer uma das ocupações da tabela B do anexo XI da Resolução 140 de 2018;
                    </li>
                    <li>
                        Faturar até R$ 251,6 mil de faturamento anual (sendo este valor proporcional no ano de abertura) recolhimento de INSS 12%;
                    </li>
                    <li>
                        Não ter outro CNPJ como (titular, sócio ou administrador de outra empresa);
                    </li>
                    <li>
                        Não ter ou abrir filial;    
                    </li>
                    <li>
                        Contratar no máximo um empregado ou empregada, que receba o piso da categoria ou 1 salário mínimo.
                    </li>
                </ul>
            </div>
            <p><b>Anexo XI da Resolução CGSN nº 140 de 2018(Ocupações Permitidas ao MEI - Tabela B)</b></p>
            <table class="w-75 container my-5" style="flex-direction: column;">
                <thead>
                    <th rowspan="5">OCUPAÇÃO</th>
                    <th>CNAE</th>
                    <th>ISS</th>
                    <th>ICMS</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Transportador Autônomo De Carga - Municipal</td>
                        <td>4930-2/01</td>
                        <td>S</td>
                        <td>N</td>
                    </tr>
                    <tr>
                        <td>Transportador Autônomo De Carga Intermunicipal, Interestadual E Internacional</td>
                        <td>4930-2/02</td>
                        <td>N</td>
                        <td>S</td>
                    </tr>
                    <tr>
                        <td>Transportador Autônomo De Carga - Produtos Perigosos</td>
                        <td>4930-2/03</td>
                        <td>S</td>
                        <td>S</td>
                    </tr>
                    <tr>
                        <td>Transportador Autônomo De Carga - Mudanças</td>
                        <td>4930-2/04</td>
                        <td>S</td>
                        <td>S</td>
                    </tr>
                </tbody>
            </table>
            <hr>
            <p><b>Qual é o caminho para quem é transportador autônomo de cargas  se formalizar como MEI?</b></p>
            <ul>
                <li class="mt-2">Ter a conta gov.br:</li>
                <ul class="mt-2" type="disc">
                    <li>No caso de <b>brasileiros</b>, a conta gov.br deve ter o nível <b>Prata</b> ou <b>Ouro.</b> </li>
                    <li>No caso de estrangeiros, se a conta tiver o nível <b>Bronze</b>, será solicitado os dados de identificação civil do estrangeiro. 
                        Para os níveis Prata ou Ouro não será necessário informar esse dados.</li>
                </ul>
                <li class="mt-2">Acessar o Card "Formalize-se" ao lado e inserir os dados do seu negócio : tipo de ocupação <b>"Tabela B"</b>, forma de atuação e local onde o negócio é realizado.</li>
            </ul>
            <p class="mt-3">*Para mais informações sobre a conta gov.br níveis da conta gov.br, clique 
                <a href="https://www.gov.br/governodigital/pt-br/conta-gov-br/saiba-mais-sobre-os-niveis-da-conta-govbr">aqui.</a>
            </p>
        </div>
    </div>
    <style>
        .divLinks{
            display: flex;
            flex-direction: column;
        }
        .divLinks a{
            background-color: lightgrey;
            padding: 20px;
            margin: 5px;
            border-radius: 5px;
        }
    </style>
    {% include 'sala_do_empreendedor/quero-ser-mei/menu.html' %}
    <style>
        span {
            text-align: center;
        }
    </style>
    <div class="row mx-auto px-5">
        <script>
    // document.getElementById('empreendedor_inicio').classList.add('s-nav-active');
        </script>
    </div>
</div>
{% endblock %}
{% block footer %}
{% include 'desenvolve_nf/instagram.html' %}
{% endblock %}