{% extends 'template.html' %}
{% load static %}
{% block nav %}
<!-- {% include 'nav_empreendedor.html' %} -->
{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/carousel.css' %}">
{% endblock %}
{% block main %}
<div id="overlay"></div>
<div id="modalBanner" class="alert"  style="background-color: #ffffff;">
  <div class="row">
    <div class="col d-flex pt-3 pb-2">
      <div class="m-auto">
        <a class="w-100" href="https://forms.office.com/r/PTrjLg7pLy" target="_blank">
        <img src="{% static 'images/seminario-compras-publicas.png' %}" class="img-fluid" alt="Banner mapeamento artesão">
        </a>
      </div>
    <span id="close-btn-banner" class="ms-auto" style="color: black;" onclick="closeModalBanner()">
      <i class="fa-solid fa-circle-xmark"></i>
    </span>
    </div>
  </div>
</div>
<div class="row mx-auto pt-3 mt-4 container"> 
  <div id="slideContainer" class=" mt-5 pt-5">
    <div class="slide active" style="box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1); border-radius: 30px;">
      <div class="row">
        <div class="banner_destaque d-flex flex-column flex-xl-row bg-white img-txt">
          <div class="img-destaque">
            <img class="banner_img_destaque w-100 h-100" src="/static/images/portal-pca.png">
          </div>
          <!-- <div style="max-width: 400px;" class="m-auto text-destaque pb-0 d-flex flex-column">
            <h3 class="mb-4">BEM-VINDO</h3>
            <p>Este é o lugar ideal para você, empreendedor, que deseja alçar voos ainda mais altos com o seu negócio! Nossa missão é oferecer todo o suporte necessário para impulsionar o crescimento e o sucesso de sua empresa.</p>
            <span  id="servicos"></span>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row mt-5">
    <div class="col d-flex">
      <h1>Meus Cadastros PCA</h1>
      <a href="{% url 'forms:criar_cadastro_pca' %}" class="btn btn-success ms-auto my-auto"><i class="fa-solid fa-plus me-2"></i>Novo Cadastro</a>      
      {% if request.user.is_superuser or request.pessoa.consultor_sebrae %}
      <a href="{% url 'forms:downlaod_pca' %}" class="btn btn-success ms-1 my-auto"><i class="fa-solid fa-file-arrow-down m-2"></i>Baixar registros em excel</a>
      {% endif %}
    </div>
  </div>
  <p class="mt-3 mb-3">Este é o espaço cri1ado para que a secretaria cadastre todas as contrataões, produtos, serviços/contratos previstos para o ano de 2025, afim de atender as exigências legais da Nova Lei de Licitações (lei 14.133/2021). Para cadastrar um novo item no PCA clique no botão verde acima.</p>
  <h3>Sua lista de itens:</h3>
  <table class="table table-striped">
      <thead>
          <tr>
              <th>Órgão Requisitante</th>
              <th>Objeto da Licitação</th>
              <th>Data de Registro</th>
              <th>Ações</th>
          </tr>
      </thead>
      <tbody>
          {% for cadastro in cadastros %}
              <tr>
                  <td>{{ cadastro.orgao_requisitante }}</td>
                  <td>{{ cadastro.objeto_licitacao }}</td>
                  <td>{{ cadastro.dt_register|date:"d/m/Y" }}</td>
                  <td>
                      <a href="{% url 'forms:editar_cadastro_pca' cadastro.pk %}" class="btn btn-primary btn-sm">Editar</a>
                  </td>
              </tr>
              {% empty %}
              <tr class="text-center">
                  <td colspan="4">Nenhum item cadastrado.<br><span style="color: rgb(134, 134, 134);">Aguardando cadastro da primeira contratação.</span></td>
              </tr> 
          {% endfor %}
      </tbody>
  </table> 
  <div class="row">
    <div class="col text-center">
      <a href="{% url 'forms:downlaod_user_pca' %}" class="mt-4 btn btn-success mx-auto"><i class="fa-solid fa-file-arrow-down me-2"></i>Baixar em excel</a>
    </div>
  </div>
</div>

<div class="row mx-auto px-5">
  <script>
    function openModalBanner() {
        document.getElementById('modalBanner').style.display = 'block';
        document.getElementById('overlay').style.display = 'block';
    }

    function closeModalBanner() {
        document.getElementById('modalBanner').style.display = 'none';
        document.getElementById('overlay').style.display = 'none';
    }
    window.onclick = function(event) {
        var modal = document.getElementById('modalBanner');
        var overlay = document.getElementById('overlay');
        if (event.target === overlay) {
            modal.style.display = 'none';
            overlay.style.display = 'none';
        }
    }
  openModalBanner()

    document.getElementById('empreendedor_protocolo').classList.add('s-nav-active');
  </script>
</div>

<style>
  #overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 0;
    }

    #modalBanner {
        display: none;
        position: fixed;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: auto;
        max-width: 90%; /* Defina a largura máxima do modal */
        padding: 20px 40px;
        /* background-color: #fff; */
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        z-index: 1;
        border-radius: 10px; /* Adicione bordas arredondadas ao modal */
    }

    #modalBanner h2 {
        margin-top: 0;
        color: #333; /* Cor do título do modal */
    }
    #close-btn-banner {
        cursor: pointer;
        position: absolute;
        top: 5px;
        right: 10px;
        font-size: 18px;
        color: #888; /* Cor do botão de fechar */
    }

    #close-btn-banner:hover {
        color: #555; /* Cor do botão de fechar ao passar o mouse */
    }

    /* Adicione mais estilos conforme necessário */

    #modalBanner .row {
        margin-bottom: 10px;
    }

    /* Adicione estilos específicos para a mensagem usando as classes de tags */
    #modalBanner.error {
        border: 2px solid #ff3333;
        background-color: #ffeeee;
    }

    #modalBanner.success {
        border: 2px solid #33cc33;
        background-color: #eeffef;
    }
</style>
{% endblock %}
{% block footer %}
{% include 'desenvolve_nf/instagram.html' %}
{% endblock %}x